<item>
    <title>$!worklog.issue.key - $!worklog.issue.summary</title>
    <link>$!workloglink</link>
    <pubDate>$!published</pubDate>
    <author>$!worklog.author</author>
    <description>
         
         
         $!worklog.comment
         
        &lt;table&gt;

        &lt;tr&gt;
        &lt;td&gt;Author:&lt;/td&gt;      
        &lt;td&gt; $!worklog.author &lt;/td&gt;
        &lt;/tr&gt;
        
        &lt;tr&gt;
        &lt;td&gt;Time Started:&lt;/td&gt;      
        &lt;td&gt; $!worklog.startDate  &lt;/td&gt;
        &lt;/tr&gt; &lt;tr&gt;
        &lt;td&gt;Time Spent:&lt;/td&gt;      
        &lt;td&gt; $!time  &lt;/td&gt;
        &lt;/tr&gt;

        
        
        &lt;/table&gt;
    </description>
    <guid>$!workloglink</guid>
</item>
