<item>
    <title>RE: [SMSPE-31] newly installed/paid for plugin fails to initialize due to an error with the license</title>
    <link>
        https://eddiewebb.atlassian.net/browse/SMSPE-31?focusedCommentId=11103#comment-11103</link>
    <pubDate>Sun, 7 Apr 2013 08:34:12 -0400</pubDate>
    <author>Eddie</author>
    <description>
                &lt;p&gt;Brian, I am closing this ticket out as I have not heard back from you in some time.  If you were unable to resolved, please let me know.&lt;/p&gt;
        &lt;br/&gt;
        &lt;br/&gt;

        &lt;table&gt;

        &lt;tr&gt;
        &lt;td&gt;Author:&lt;/td&gt;
        &lt;td&gt;&lt;a
        href="https://eddiewebb.atlassian.net/secure/ViewProfile.jspa?name=eddiewebb"&gt;Eddie&lt;/a&gt;
        (&lt;a href="https://eddiewebb.atlassian.net/browse/SMSPE-31"&gt;SMSPE-31&lt;/a&gt;)&lt;/td&gt;
        &lt;/tr&gt;

        
        
        &lt;/table&gt;
    </description>
    <guid>https://eddiewebb.atlassian.net/browse/SMSPE-31?page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel&amp;focusedCommentId=11103\#worklog-11103</guid>
</item>